@model IEnumerable<ApartmentBookingViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="pl-0">
        <div><span class="page_header">Apartment Booking</span></div>
        <div style="padding-left:0">
            <button type="button" class="btn_add_new" data-bs-toggle="modal" data-bs-target="#CreateModal" onclick='Create()'>Create New</button>
        </div>
    </div>
    <table class="table table-bordered table-striped list_table">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.ActionLink("###", "Index", new { SortOrder = ViewBag.SortNameParam }, new { @class = "text-decoration-none text-white" })
                </th>
                <th>
                    Building Name
                </th>
                <th class="text-center">
                    Apartment Name
                </th>
                <th class="text-center">
                    Tenant Name
                </th>
                <th>
                    Booking Status
                </th>
                <th class="text-center">
                    Booking Start Date
                </th>
                <th class="text-center">
                    Booking End Date
                </th>
                <th class="text-center">
                    Other Details
                </th>
                <th class="text-center tbl_action">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @item.SirialNumber
                    </td>
                    <td>
                        @item.BuildingShortName
                    </td>
                    <td>
                        @item.ApartmentName
                    </td>
                    <td>
                        @item.TenantFullName
                    </td>
                    <td>
                        @item.BookingStatusDescription
                    </td>
                    <td>
                        @item.BookingStartDate.ToShortDateString()
                    </td>
                    <td class="text-center">
                        @item.BookingEndDate.ToShortDateString()
                    </td>
                    <td class="tbl_large_field">
                        @item.OtherBookingDetails
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <div class="dropdown">
                                <a class="btn_table dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" onclick='Update(@item.AptBookingId)' data-bs-toggle="modal" data-bs-target="#EditModal">Edit</a></li>
                                    <li><a class="dropdown-item" asp-area="User" asp-controller="ApartmentBooking" asp-action="Delete" asp-route-id="@item.AptBookingId" onclick="return confirm('Are you sure to delete?')">Delete</a></li>
                                    <li><a class="dropdown-item" onclick='Details(@item.AptBookingId)' data-bs-toggle="modal" data-bs-target="#DetailsModal">Details</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <div class="search_section">
        <form asp-action="Index" method="get">
            <div>
                <span class="search_title">Find By Tenant Name: </span>
                <input type="text" class="input_search" name="SearchString" value="@ViewBag.CurrentFilter" />
                <input type="submit" value="Search" class="btn_search" />
                <a asp-action="Index" class="btn_back_to_list">Back to List</a>
            </div>
        </form>
    </div>
    <div class="page_section">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
        ContainerDivClasses = new[] { "navication" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })
    </div>
</div>
<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header px-md-5">
                <h3 class="modal-title" id="detailsModalLabel">Create Apartment</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                <div id="CreateDiv">
                    @if (ViewBag.Details == "Show")
                    {
                        <partial name="~/Areas/User/Views/ApartmentBooking/_Create.cshtml" />
                        //@await Html.PartialAsync("_Create", new ApartmentBookingViewModel())
                        ViewBag.Details = "";
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header px-md-5">
                <h3 class="modal-title" id="detailsModalLabel">Update Tenant</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                <div id="EditDiv">
                    @if (ViewBag.Details == "Show")
                    {
                        <partial name="~/Areas/User/Views/ApartmentBooking/_Edit.cshtml" />
                        ViewBag.Details = "";
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header px-md-5 ba">
                <h3 class="modal-title" id="detailsModalLabel">Tenant Details</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                <div id="DetailsDiv">
                    @if (ViewBag.Details == "Show")
                    {
                        <partial name="~/Areas/User/Views/ApartmentBooking/_Details.cshtml" />
                        ViewBag.Details = "";
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Create() {
        $.ajax({
            url: "/User/ApartmentBooking/Create",
            type: "GET",
            data: "",
            contentType: 'application/json; charset = utf-8',
            success: function (data) {
                $('#CreateDiv').show();
                $('#CreateDiv').html(data);
            },
            error: function () {
                alert("Error occured")
            }
        })
    }
    function Update(id) {
        $.ajax({
            url: "/User/ApartmentBooking/Edit?id=" + id,
            type: "GET",
            data: "",
            contentType: 'application/json; charset = utf-8',
            success: function (data) {
                $('#EditDiv').show();
                $('#EditDiv').html(data);
            },
            error: function () {
                alert("Error occured")
            }
        })
    }
    function Details(id) {
        $.ajax({
            url: "/User/ApartmentBooking/Details?id=" + id,
            type: "GET",
            data: "",
            contentType: 'application/json; charset = utf-8',
            success: function (data) {
                $('#DetailsDiv').show();
                $('#DetailsDiv').html(data);
            },
            error: function () {
                alert("Error occured")
            }
        })
    }
</script>