@model IEnumerable<ApartmentBuildingViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="pl-0">
        <div><span class="page_header">Building</span></div>
        <div style="padding-left:0">
            <button type="button" class="btn_add_new" data-bs-toggle="modal" data-bs-target="#CreateModal">Create New</button>
        </div>
    </div>
    <table class="table table-bordered table-striped list_table">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.ActionLink("###", "Index", new { SortOrder = ViewBag.SortNameParam }, new { @class = "text-decoration-none text-white" })
                </th>
                <th>
                    Building Short Name
                </th>
                <th>
                    Building Full Name
                </th>
                <th class="tbl_large_field">
                    Building Description
                </th>
                <th>
                    Building Address
                </th>
                <th>
                    Building Manager
                </th>
                <th class="text-center">
                    Building Phone
                </th>
                <th class="tbl_large_field">
                    Other Building Details
                </th>
                <th class="text-center">
                    Building Image
                </th>
                <th class="text-center tbl_action">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @item.SirialNumber
                    </td>
                    <td>
                        @item.BuildingShortName
                    </td>
                    <td>
                        @item.BuildingFullName
                    </td>
                    <td class="tbl_large_field">
                        @item.BuildingDescription
                    </td>
                    <td>
                        @item.BuildingAddress
                    </td>
                    <td>
                        @item.BuildingManager
                    </td>
                    <td class="text-center">
                        @item.BuildingPhone
                    </td>
                    <td class="tbl_large_field">
                        @item.OtherBuildingDetails
                    </td>
                    <td class="text-center">
                        <a class="btn_view_images" onclick='ShowImage(@item.BuildingId)' data-bs-toggle="modal" data-bs-target="#ViewImagesModal">View&nbsp;Images</a>
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <div class="dropdown">
                                <a class="btn_table dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" onclick='Update(@item.BuildingId)' data-bs-toggle="modal" data-bs-target="#EditModal">Edit</a></li>
                                    <li><a class="dropdown-item" asp-area="User" asp-controller="ApartmentBuilding" asp-action="Delete" asp-route-id="@item.BuildingId" onclick="return confirm('Are you sure to delete?')">Delete</a></li>
                                    <li><a class="dropdown-item" onclick='Details(@item.BuildingId)' data-bs-toggle="modal" data-bs-target="#DetailsModal">Details</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <div class="search_section">
        <form asp-action="Index" method="get">
            <div>
                <span class="search_title">Find By Short Name: </span>
                <input type="text" class="input_search" name="SearchString" value="@ViewBag.CurrentFilter" />
                <input type="submit" value="Search" class="btn_search" />
                <a asp-action="Index" class="btn_back_to_list">Back to List</a>
            </div>
        </form>
    </div>
    <div class="page_section">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
        ContainerDivClasses = new[] { "navication" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })
    </div>
</div>
<div id="itemsDiv">
</div>
<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @await Html.PartialAsync("_Create", new ApartmentBuildingViewModelMultipleInsert())
        </div>
    </div>
</div>
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header px-md-5">
                <h3 class="modal-title" id="detailsModalLabel">Update Building</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                <div id="EditDiv">
                    @if (ViewBag.Details == "Show")
                    {
                        <partial name="~/Areas/User/Views/ApartmentBuilding/_Edit.cshtml" />
                        ViewBag.Details = "";
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header px-md-5 ba">
                <h3 class="modal-title" id="detailsModalLabel">Building Details</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                <div id="DetailsDiv">
                    @if (ViewBag.Details == "Show")
                    {
                        <partial name="~/Areas/User/Views/ApartmentBuilding/_Details.cshtml" />
                        ViewBag.Details = "";
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewImagesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header px-md-5 ba">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                <div id="ViewImagesDiv">
                    @if (ViewBag.ViewImages == "Show")
                    {
                        <partial name="~/Areas/User/Views/ApartmentBuilding/_ViewImages.cshtml" />
                        ViewBag.ViewImages = "";
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
        if (isNaN(@TempData["id"]) == false) {
            var link = '@Url.Action("GetCategoryWiseItems", "Categories", new { id = @TempData["id"] })';
            $("#itemsDiv").load(link);
        }
        $('#CreateModal').on('shown.bs.modal', function () {
            $('#Name').trigger('focus');
        });
        $('#CreateModal').on('hidden.bs.modal', function (event) {
            $("input[type=text]").val("");
            $("input[type=number]").val("");
            $("input[type=datetime-local]").val("");
            $('#sl').val('0');

            $("img[data-tag='Image']").each(function () {
                $(this).attr("src", "/images/no-image.png");
            });
            $("div").each(function () {
                if (parseInt(this.id) > 0) {
                    this.remove();
                }
            })
        });
        $('#addModelButton').on('click', function () {
            var present_sl = parseInt($('#sl').val());
            var next_sl = parseInt(present_sl) + 1;
            var next_item = '<div id="' + next_sl + '">' + $('#' + present_sl).html() + '</div>';
            next_item = next_item.split('_' + present_sl.toString()).join('_' + next_sl.toString());
            next_item = next_item.split('[' + present_sl.toString() + ']').join('[' + next_sl.toString() + ']');
            $('#' + present_sl).after(next_item);
            $('#sl').val(next_sl);
        });

        $('#itemModal').on('hidden.bs.modal', function (event) {
            $("input[type=text]").val("");
            $("input[type=number]").val("");
            $("input[type=datetime-local]").val("");
            $("img[data-tag='Image']").each(function () {
                $(this).attr("src", "/images/no-image.png");
            });
        });
        });
        @*function editCategory(e) {
            var link = '@Url.Action("Edit", "Categories", new { id = "-1" })';
            link = link.replace("-1", e);
            $("#editCategoryModalContent").load(link);
        }
        function deleteCategory(e) {
            var link = '@Url.Action("Delete", "Categories", new { id = "-1" })';
            link = link.replace("-1", e);
            $("#deleteCategoryModalContent").load(link);
        }
        function getDetails(e) {
            var link = '@Url.Action("GetCategoryWiseItems", "Categories", new { id = "-1" })';
            link = link.replace("-1", e);
            $("#itemsDiv").load(link);
        }
        function loadItem(e) {
            var link = '@Url.Action("Create", "Items", new { id = "-1" })';
            link = link.replace("-1", e);
            $("#itemModalContent").load(link);
        }
        function editItem(e) {
            var link = '@Url.Action("Edit", "Items", new { id = "-1" })';
            link = link.replace("-1", e);
            $("#editItemModalContent").load(link);
        }
        function deleteItem(e) {
            var link = '@Url.Action("Delete", "Items", new { id = "-1" })';
            link = link.replace("-1", e);
            $("#deletItemModalContent").load(link);
        }*@

        function loadItem(e) {
            var link = '@Url.Action("Create", "ApartmentBuildingViewModels", new { id = "-1" })';
            link = link.replace("-1", e);
            $("#itemModalContent").load(link);
        }
        var loadImage = function (event) {
            if (event.target.files && event.target.files[0]) {
                var img = document.getElementById('Image');
                img.src = URL.createObjectURL(event.target.files[0]);
            }
        }
        var editImage = function (event) {
            if (event.target.files && event.target.files[0]) {
                var img = document.querySelector('img[alt = "Edit Image"]')
                img.src = URL.createObjectURL(event.target.files[0]);
            }
        }
        var changeImage = function (obj, event) {
            if (event.target.files && event.target.files[0]) {
                console.log(obj.dataset.tag);
                var img = document.getElementById(obj.dataset.tag);
                img.src = URL.createObjectURL(event.target.files[0]);
            }
        }

        function Update(id) {
            $.ajax({
                url: "/User/ApartmentBuilding/Edit?id=" + id,
                type: "GET",
                data: "",
                contentType: 'application/json; charset = utf-8',
                success: function (data) {
                    $('#EditDiv').show();
                    $('#EditDiv').html(data);
                },
                error: function () {
                    alert("Error occured")
                }
            })
        }
        function Details(id) {
            $.ajax({
                url: "/User/ApartmentBuilding/Details?id=" + id,
                type: "GET",
                data: "",
                contentType: 'application/json; charset = utf-8',
                success: function (data) {
                    $('#DetailsDiv').show();
                    $('#DetailsDiv').html(data);
                },
                error: function () {
                    alert("Error occured")
                }
            })
        }
        function ShowImage(id) {
            $.ajax({
                url: "/User/ApartmentBuilding/ShowImage?id=" + id,
                type: "GET",
                data: "",
                contentType: 'application/json; charset = utf-8',
                success: function (data) {
                    $('#ViewImagesDiv').show();
                    $('#ViewImagesDiv').html(data);
                },
                error: function () {
                    alert("Error occured")
                }
            })
        }
    </script>
}